.icon {
    font-size: 70px;
    margin: 10px 0;
}

.forecast {
    margin-top: 20px;
}

.forecast-row {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.forecast-card {
    min-width: 80px;
    background: rgba(255,255,255,0.2);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.forecast-card i {
    font-size: 25px;
    margin: 5px 0;
}
